<form action="/crearGrupo" method="post">
    <div class="ul2">
        <p>
            CREA UN GRUPO NUEVO            
        </p>
        <hr>
        <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="user_name" placeholder="Ingresa el nombre del grupo" width="200px">
        </div>
        <div>
            <label for="msg">Descripcion:</label>
            <textarea id="msg" name="user_message"></textarea>
        </div>
        <div class="button">
            <button type="submit">Crear Grupo</button>
        </div>
    </div>
</form>