<div class="a">
    <h1>Crear Misión</h1>
    <p>Nombre</p>
    <p>
    <input type = "text"  class="redondeado" size="30"  style="width: 200px; height: 25px;" maxlength="50" name= "nombreMision">
    </p>
    <p>Descripción</p>
    <textarea id= "hola" class="redondeado" style="width: 400px; height: 190px;" name="soy yo"></textarea>
    
      <ul class= "nav">
        <li><a href="">Cities</a>
           <ul>
            <li><a href="">Bogotá</a></li>
            <li><a href="">Cartagena</a></li>
            <li><a href="">Santander</a></li>
            <li><a href="">Medellín</a></li>
           </ul>
        </li>
    </ul>
    
    
    <ul class= "lev">
        <li><a href="">Level</a>
           <ul>
            <li><a href="">A1</a></li>
            <li><a href="">A2</a></li>
            <li><a href="">B1</a></li>
            <li><a href="">B2</a></li>
           </ul>
        </li>
    </ul>
    
    <p>Recompensa</p>
    <input type = "number" class="redondeado" size= "15"  style="width: 200px; height: 25px;" name="Recompensa">
    
    <p>  </p>
    <a class= "boton" href="">Crear</a>
    
    </div>